---
import Layout from '../layouts/Layout.astro';

// Для статической генерации используем русский язык по умолчанию
const localeTexts = await import('../locales/ru.json');
const title = localeTexts.title;
const texts = localeTexts.pages.carier;
---

<Layout
	title=`${texts.bodyTitle} | ${title}`
	bodyTitle={texts.bodyTitle}
	pubDate={new Date('January 14 2024')}
	description={texts.description}
>

	<div data-localize="description" style="margin-bottom: 2rem; font-style: italic;">{texts.description}</div>

	{texts.content.map((content: any) =>
		<div class="container">
			<div class="title">

				<div class="imgbox gallery">
					<a href={content.img}>
						<img src={content.img} alt="" />
					</a>
				</div>

				<p>{content.title}</p>
				<div class="link">
					<a href={"https://" + content.link} target="_blank">{content.link}</a>
				</div>
				<h5>{content.dates}</h5>
			</div>
			<div class="body center">
				{content.text}
			</div>
			<div class="langlist center">
				{content.stacks.map((stack: any) => <b class={"icon icon-" + stack.tag} data-tooltip={stack.text}/>)}
			</div>
		</div>

		<hr>
	)}

	<script>
		import '../utils/client-localize.js';
	</script>
</Layout>
