---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { getLocale, getLocaleTexts } from '../utils/localize';

const locale = getLocale();

const localeTexts: any = await getLocaleTexts(locale)
const title = localeTexts.title;
const texts = localeTexts.pages.index;
---

<!doctype html>
<html lang="ru">
	<head>
		<BaseHead title={title} description={texts.description} />
	</head>
	<body>
		<Header title={title} />
		<main>
			<h3>{texts.greeting}</h3>
			<p>{texts.introduction}</p>
			<p>{texts.current_education}</p>
			<p>{texts.programming_skills}</p>
			<h4>{texts.skills_title}</h4>
			<ul>
				{texts.skills.map((skill: any) => <li>{skill}</li>)}
			</ul>
			<p>{texts.additional_info}</p>
			<p>{texts.additional_info2}</p>
		</main>
		<Footer />
	</body>
</html>
