---
import Layout from '../layouts/BlogPost.astro';
import { getLocale, getLocaleTexts } from '../utils/localize';
const locale = getLocale(Astro.request);

const localeTexts = await getLocaleTexts(locale)
const title = localeTexts.title;
const texts = localeTexts.pages.projects;
---

<Layout
	title=`${texts.bodyTitle} | ${title}`
	bodyTitle={texts.bodyTitle}
	pubDate={new Date('January 14 2024')}
	description={texts.description}
>

	{texts.content.map(content =>
		<div class="container">
			<div class="title">
				{content.img &&
					<div class="imgbox gallery">
						<a href={content.img}>
							<img src={content.img_mini} data-at-450={content.img_mini} alt="" />
						</a>
					</div>
				}
				<h4>{content.title}</h4>
			</div>
			<div class="body center">
				{content.body}
			</div>
			<div class="langlist center">
				{content.stacks.map(stack => <b class={"icon icon-" + stack.tag} data-tippy-content={stack.text}/>)}
			</div>
		</div>

		<hr/>
	)}
</Layout>
